h2{
  font-family: "Borel", serif;
  font-optical-sizing: auto;
  font-size: 35px;
  color: #a34c63;
}

body{
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
}

body{background-image:url(bodybg.png);
    background-size: 100%;
	background-repeat: repeat;
    justify-content: center;
    display: flex;
    margin: 25px;
    align-items: center;
}

 .font { font-size: 40px;
		color: #a95068;
}

label {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9c575f;
}

.echo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9c575f; 
}
.container {
  display: flex;
  background-color: #f6dbde; 
  gap: 5px; 
  width: 530px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  justify-content: center;
  transform: scale(1.02);
}

.input1 input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 25px;
    border-radius: 20px;
    border-color: #723243;
}

.input3 input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 25px;
    border-radius: 20px;
    border-color: #723243;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
}



img {
	border-radius: 10px;
}

button {
	border: none;
	background-color: rgb(222, 128, 140);
	color: rgb(255, 240, 242);
    width: 190px;
    height: 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
    border-radius: 20px;
    border-color: #723243;
	font-size: 16px;
	cursor: pointer;
	transition: transform 0.2s;
}